@if(openLightBox) {
  <app-light-box (close)="onHandleClose()"></app-light-box>
}
<!-- @if (openCartBox) {
  <app-cart (close)="openCartBox"></app-cart>
} -->
<main>
  <mat-toolbar class="navbar" color="primary">
    <div class="nav-container">
      <input type="checkbox" id="menu-toggle" class="checkbox" [(ngModel)]="opened" #hamburger>
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <header>
        <div class="logo">
          <h1 [class.hidden]="hamburger.checked">sneakers</h1>
        </div>
        <div class="desktop-header-layer-1">
          <div class="desktop-header-nav">
            <h1 class="desktop-logo">sneakers</h1>
            <ul class="desktop-nav">
              <li>Collections</li>
              <li>Men</li>
              <li>Women</li>
              <li>About</li>
              <li>Contact</li>
              <li></li>
            </ul>        
          </div>
        </div>
        <div class="avatar">
          <div class="cart" [class.custom-badge]="cartValue !== 0" mat-icon-button [matBadge]="cartValue" [matBadgeHidden]="cartValue === 0"  matBadgePosition="above after">
            <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg" (click)="onOpenCart()"><path d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z" fill="#69707D" fill-rule="nonzero"/></svg>
            @if (openCartBox) {
              <app-cart (close)="openCartBox"></app-cart>
            }
          </div>
          <img class="image-avatar" src="/ecommerce-mentor/assets/images/image-avatar.PNG" alt="image-avatar" (click)="onOpenCart()">
        </div>
      </header>

      <!-- <span>My Application</span> -->
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="hamburger.checked">
      <mat-nav-list>
        <a mat-list-item>Collections</a>
        <a mat-list-item>Men</a>
        <a mat-list-item>Women</a>
        <a mat-list-item>About</a>
        <a mat-list-item>Contact</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="content">
        
        <div class="product-images">
          <div class="previous" (click)="togglePrevious()"><svg width="12" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M11 1 3 9l8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd"/></svg></div>
          <div class="product">
            <img class="img-main" [src]="currentImage" alt="image-product" (click)="openImage()" draggable="false">
            <div class="img-list-container">
              @for (img of imgList; track $index) {
                <div class="img-list-item" [class.current-border]="currentImage == img" (click)="onImage($index)">
                  <img [src]="img" [alt]="img" [class.current-opacity]="currentImage == img" draggable="false">
                </div>
              }
            </div>
          </div>
          <div class="next" (click)="toggleNext()"><svg width="13" height="18" xmlns="http://www.w3.org/2000/svg"><path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd"/></svg></div>
        </div>
        
        <div class="container">
          <div class="hero">
            <div class="hero-header">
              <h5>
              Sneaker Company
              </h5>
          
              <h1>
                Fall Limited Edition Sneakers
              </h1>
            </div>
        
            <p>
              These low-profile sneakers are your perfect casual wear companion. Featuring a 
              durable rubber outer sole, they’ll withstand everything the weather can offer.
            </p>
          </div>
          
          <div class="price">
            <h1>
              $125.00
              <span class="sale">50%</span>
            </h1>
            <h5 class="old-price">
              $250.00
            </h5>
          </div>
          <div class="lower-box">
            <div class="quantity-container">
              <div class="minus" (click)="quantity == 0 ? quantity =  0: decrease()"><svg width="12" height="4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z" id="a"/></defs><use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a"/></svg></div>
              <h5 class="quantity">{{quantity}}</h5>
              <div class="plus" (click)="increase()" ><svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z" id="b"/></defs><use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b"/></svg></div>
            </div>
          
            <button class="add-cart" (click)="onAddProduct()" [disabled]="quantity === 0">
              <div>
                <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z" fill="#69707D" fill-rule="nonzero"/></svg>
                Add to cart
              </div>
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
